attrs==20.3.0
bleach==3.3.0
certifi==2020.12.5
chardet==4.0.0
cmd2==1.5.0
colorama==0.4.4
docutils==0.16
flake8==3.8.4
idna==2.10
keyring==22.0.1
mccabe==0.6.1
packaging==20.9
pkginfo==1.7.0
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.8.0
pygonets==0.0.6
pyparsing==2.4.7
pyperclip==1.8.1
pyreadline3==3.3
pywin32-ctypes==0.2.0
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
tqdm==4.57.0
twine==3.3.0
urllib3==1.26.3
wcwidth==0.2.5
webencodings==0.5.1
